.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

body,
html {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.data-container {
    max-width: 200px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

@media (prefers-color-scheme: dark) {
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
        }
    
}